<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>StackServlet</title>
</head>
<body>
    <form action="#" th:action="@{}" th:object="${stackController}" method="post">
        <div>
            <button type="submit">PUSH</button>
        </div>
        <div>
            <button type="submit">POP</button>
        </div>
        <div>
            <button type="submit">VIEW</button>
        </div>
        <div>
            <button type="submit">RESET</button>
        </div>
    </form>

</body>
</html>